<div class="home screen " data-id="1:315" onclick="window.open('javascript:history.back()', '_self');"><a href="sign-in"
    onclick="window.event.stopPropagation()"><img class="x56667-xl4bh6" data-id="1:316"
      src="https://cdn.animaapp.com/projects/641bb9964a76e2d4ea229ad2/releases/641bbca416866ff49c2b0a52/img/56667.png"
      alt="56667" data-hotspot-id="hp-0"></a>
  <div class="rectangle-198-xl4bh6" data-id="1:317"></div><img class="rectangle-1-xl4bh6" data-id="1:318"
    src="https://cdn.animaapp.com/projects/641bb9964a76e2d4ea229ad2/releases/641bbca416866ff49c2b0a52/img/rectangle-1.png"
    alt="Rectangle 1"><img class="menu_fill0_wght400_grad0_opsz48-xl4bh6" data-id="1:319"
    src="https://cdn.animaapp.com/projects/641bb9964a76e2d4ea229ad2/releases/641bbca416866ff49c2b0a52/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img class="icon-home-xl4bh6" data-id="1:320"
    src="https://cdn.animaapp.com/projects/641bb9964a76e2d4ea229ad2/releases/641bbca416866ff49c2b0a52/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-home"><a href="sign-in" onclick="window.event.stopPropagation()"><img class="icon-user-xl4bh6"
      data-id="1:321"
      src="https://cdn.animaapp.com/projects/641bb9964a76e2d4ea229ad2/releases/641bbca416866ff49c2b0a52/img/person-fill0-wght400-grad0-opsz48@2x.png"
      alt="icon-user" data-hotspot-id="hp-1"></a><a href="admin-2" onclick="window.event.stopPropagation()"><img
      class="description_fill0_wght400_grad0_opsz48-xl4bh6" data-id="1:322"
      src="https://cdn.animaapp.com/projects/641bb9964a76e2d4ea229ad2/releases/641bbca416866ff49c2b0a52/img/description-fill0-wght400-grad0-opsz48@2x.png"
      alt="description_FILL0_wght400_GRAD0_opsz48" data-hotspot-id="hp-2"></a><a
    onclick="ShowOverlay('user-1', 'animate-appear');window.event.stopPropagation()"><img
      class="sync_saved_locally_f-xl4bh6" data-id="1:323"
      src="https://cdn.animaapp.com/projects/641bb9964a76e2d4ea229ad2/releases/641bbca416866ff49c2b0a52/img/sync-saved-locally-fill0-wght400-grad0-opsz48@2x.png"
      alt="sync_saved_locally_FILL0_wght400_GRAD0_opsz48"></a>
  <div class="text_label-xl4bh6" data-id="1:324">อนุสรณสถานแห่งชาติ</div>
  <div class="the-national-memorial-xl4bh6 inter-normal-white-40px" data-id="1:325">THE NATIONAL MEMORIAL</div>
  <h1 class="title-xl4bh6" data-id="1:326">HOME</h1><img class="line_album_logo_230320-removebg-preview-xl4bh6"
    data-id="1:327"
    src="https://cdn.animaapp.com/projects/641bb9964a76e2d4ea229ad2/releases/641bbca416866ff49c2b0a52/img/line-album-logo-230320-removebg-preview@2x.png"
    alt="LINE_ALBUM_LOGO_230320-removebg-preview">
</div>


